<h1>Show Comment</h1>

<ul>

  <li>
    <strong>Body:</strong>
    <%= @comment.body %>
  </li>
  <li>
    Parent Story:
    <%= @comment.parent_story %>
  </li>
  <li>
    Parent Comment:
    <%=case Map.fetch(@comment, :parent) do 
      {:ok, parent} -> parent
      _ -> "no parent" end %>

</ul>

<span><%= link "Edit", to: Routes.comment_path(@conn, :edit, @comment) %></span>
<span><%= link "Back", to: Routes.comment_path(@conn, :index) %></span>
